body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topnav {
    height: 20px;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
}

.topnav a {
    float: right;
    padding: 0px 20px;
    color: black;
    text-decoration: none;
    
}


.footer {
    padding: 10px 20px;
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid #ccc;
}

.index-main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    overflow: hidden;
}

.sidebar {
    height: 100vh;
    padding: 15px;
    border-right: 1px solid #ccc;
}

.sidebar h3 {
    margin-bottom: 10px;
}

.filters{
    display: block;
}


.filters label{
    display: block;
}



.filters button{
    color:#fff;
    padding: 10px;
    border-radius: 5px;
    border:none;
}

.content {
    background: #fafafa;
    padding: 15px;
    overflow-y: auto;
    justify-content: center;
    gap: 15px; 
}

.content h1 {
    text-align: center;
}


.gallery {
    background: #fafafa;
    padding: 15px;
    overflow-y: auto;
    justify-content: center;
    gap: 15px; 
    display: flex;
}

.gallery-item {
    height: 300px;
    width: 250px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    gap: 8px; /* spacing between image, title, creator */
}

.gallery-item img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 6px;
}





/* styling for proj template */

.project-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
    font-weight: bold;
}

.project-creator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.85rem;
    color: #555;
    margin: 0;
}

.proj-main {
    flex: 1;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 20px;
    overflow: hidden;
}

/* styling for image preview */

.main-slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.main-slider img{
    width: 500px;
    display: none;
}